name: Pull
on: 
  pull_request:
    types: [opened, reopened, edited, closed]
  branches:
    - '*'
jobs:
  test:
    permissions: write-all
    runs-on: ubuntu-latest
    steps: 
      - name: Get repository code
        uses: actions/checkout@v3
      - name: install
        run: npm i
      - name: Testing
        run: npm run test:coverage
      # - name: Summary
      #   run: npm run test:summary
      - name: Jest Coverage Comment
        uses: ArtiomTr/jest-coverage-report-action@v2.2.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
            
            
            
            
            
            