name: Pull
on: 
  pull_request:
    types: [opened, reopened, edited, closed]
jobs:
  test:
    permissions: write-all
    runs-on: windows-latest
    steps: 
      - name: Get repository code
        uses: actions/checkout@v3
      # - name: install
      #   run: npm i
      # - name: Testing
      #   run: npm run test:coverage
      # - name: Summary
      #   run: npm run test:summary
      - name: Jest coverage on commit
        uses: ShaunBulbrook/jest-coverage-report-on-commit@0.1.0
            
            
            
            
            
            