name: Pull
on: 
  pull_request:
    branches:
      - '*'
  
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps: 
      - name: Get repository code
        uses: actions/checkout@v3
      - name: pnpm use
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: install
        run: pnpm i
      - name: Summary
        run: pnpm run test:coverage
  cobertura:
    permissions: write-all
    runs-on: ubuntu-latest
    steps: 
      - name: Get repository code
        uses: actions/checkout@v3
      - name: pnpm use
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: install
        run: pnpm i
      - name: Jest coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.2.6
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          package-manager: pnpm
  print: 
    run: echo ${{ github }}