name: Pull
on: 
  pull_request:
    branches:
      - '*'

env:
  DAY_OF_WEEK: Monday
  
jobs:
  test:
    permissions: write-all
    runs-on: ubuntu-latest
    steps: 
      - name: Get repository code
        uses: actions/checkout@v3
      - name: pnpm use
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: install
        run: pnpm i
      - name: Testing
        run: pnpm run test:coverage
      # - name: Summary
      #   run: npm run test:summary
      - name: Read file contents
        id: read_file
        uses: andstor/file-reader-action@v1
        with:
          path: "package.json"
      - name: File contents
        run: echo "${ steps.read_file.outputs.contents }"