name: Pull
on: 
  pull_request:
    branches:
      - '*'

env:
  TOKEN:  ${{ secrets.GITHUB_TOKEN }} 
  
jobs:
  test:
    permissions: write-all
    runs-on: ubuntu-latest
    steps: 
      - name: Get repository code
        uses: actions/checkout@v3
      - name: pnpm use
        uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: install
        run: pnpm i
      # - name: Testing
      #   run: pnpm run test:coverage
      - name: Summary
        run: npm run test:summary
      - name: Jest coverage report
        uses: ArtiomTr/jest-coverage-report-action@v2.2.6
        with:
          annotations: all
          skip-step: all
          test-script: pnpm run test:coverage
      # - name: "set Message"
        # run: pnpm run set-comment
      #- name: Jest Coverage Comment
      #  uses: actions/github-script@v6
      #  with:
      #    script: |
      #      github.rest.issues.createComment({
      #        issue_number: context.issue.number,
      #        owner: context.repo.owner,
      #        repo: context.repo.repo,
      #        body: `${ env.read_file.outputs.contents }`
      #      })